.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app {
    overflow: hidden;
    height: 100%;
}

.app-inner {
    display: flex;
    justify-content: stretch;
    align-items: start;
    height: 100%;
}

.app-navigator {
    background-color: var(--background-darker);
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-navigator-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.app-navigator-inner {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.app-content {
    width: calc(100% - 240px);
    height: 100%;
}

.user-profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 7.5px;
}

.user-profile-container:hover {
    background-color: var(--background-brighter);
}

.user-profile-container button {
    background-color: var(--button-darker-color);
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.user-profile {
    display: flex;
    justify-content: left;
    align-items: center;
}

.user-profile .user-avatar {
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

.user-profile .user-status {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: -10px;
    margin-top: 22px;
    border: 3px solid var(--background-darker);
}

.user-profile .user-status-offline {
    background-color: rgb(128, 132, 142);
}

.user-profile .user-status-online {
    background-color: rgb(35, 165, 90);
}

.user-profile .user-content {
    margin-left: 0.4em;
    display: block;
}

.user-profile .user-name {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.user-profile .user-info {
    font-weight: 300;
    font-size: 12px;
    margin-top: -0.6em;
    margin-bottom: 0;
}

.app-me-container {
    background-color: var(--background-darker2);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-me-profile {
    width: 100%;
    overflow: hidden;
    padding: 3px;
    margin-right: 3px;
}

.app-me-buttons {
    display: flex;
    justify-content: end;
}

.app-me-buttons svg {
    padding: 0.4em;
    height: 1.15em;
    width: 1.15em;
    cursor: pointer;
    border-radius: 7.5px;
}

.app-me-buttons svg:hover {
    background-color: var(--background-brighter);
}

.app-me-user-name {
    font-size: 12px !important;
}

.app-me-user-info {
    font-size: 10px !important;
    margin-top: -1em !important;
}
