.friends-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.friends-header h1 {
    font-size: medium;
}

.friends-header button {
    font-size: medium;
    padding: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.friends-header .add-friend {
    background-color: green;
    color: white;
}

.friends-header .add-friend:hover {
    background-color: #008c00;
}

.friends-header .add-friend-selected {
    background-color: var(--background);
    color:#00c800;
}

.friends-profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1em;
    border-radius: 7.5px;
}

.friends-profile-container:hover {
    background-color: var(--background-brighter);
}

.friends-profile-container button {
    background-color: var(--button-darker-color);
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.friends-profile {
    display: flex;
    justify-content: left;
    align-items: center;
}

.friends-profile .friends-avatar {
    border-radius: 100%;
    margin-right: 0.5em;
    width: 3em;
    height: 3em;
}

.friends-profile .friends-name {
    font-weight: bold;
}

.friends-profile .friends-username {
    font-weight: 300;
    font-size: small;
}
