.channel-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channel-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.channel-content-inner {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.channel-send-button-container {
    height: 3em;
    background-color: var(--background);
}

.channel-message {
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    padding: 0.1em;
}

.channel-message:hover {
    background-color: var(--background-brighter);
}

.channel-message-with-avatar {
    margin-top: 1em;
}

.channel-message .message-avatar {
    border-radius: 100%;
    margin-right: 0.5em;
    width: 3em;
    height: 3em;
}

.channel-message .message-name {
    font-weight: bold;
}

.channel-message .message-without-avatar {
    padding-left: 3.5em;
}

.channel-message .message-error {
    color: red;
    font-style: italic;
}

.channel-message .message-sent {
    color: gray;
}
